*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box; 
}

body{
    background-color: aliceblue ;
    height: 100vh;
}
.kacst-logo{
    width: 80%;
    margin-top: -25px;
}
.nav_head{
    margin-top: 25px;
   font-family:Georgia, 'Times New Roman', Times, serif;
   text-align: center;
}
.nav_head h2{
    font-weight: bold;
}
.nav_head h3{
    font-weight: 500;
}
.sign-btn{
    border: none;
margin-top: 20px;

}
button{
    background-color: #400f0f;
    color: #fff;
    padding: 5px 10px 5px 10px;
    font-size: 14px;
    border-radius: 20px;
}
button a{
    text-decoration: none;
    color:#fff;
}
.system_info{

    margin-top: 20px;
    background-color: #fff;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    border-radius: 20px;
    justify-content: center; /* horizontal center */
    align-items: center;     /* vertical center */
    min-height: 60vh;
    border: 1px solid #000;
}
.outer-div {
      display: flex;               /* Flexbox */
      justify-content: center;     /* Horizontal center */
      align-items: center;         /* Vertical center */
      height: 300px;               /* Parent div height */
      background-color: #e4e7e9;
    }

    .inner-div {
      padding: 20px 30px;
      color: rgb(12, 1, 1);
      border-radius: 8px;
      text-align: center;
    }
